/* src/css/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url('/assets/cooking-background.jpg');
  background-size: cover; /* Make sure the background image covers the whole screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Flexbox for centering content */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Global button style */
button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4CAF50;
}

/* Global form inputs */
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 1rem;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4CAF50;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  width: 250px;
}
